.global {
    --element-color: black;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --light-color: rgb(245, 245, 245);
  }
  
  .dark {
    --color: #f5f5f5;
    --background: #292929;
    --background-element: #424242;
    --background-transparent: #2c2c2ccc;
    --shadow: rgba(25, 25, 25, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%)
      saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
  }
  
  .light {
    --color: white;
    --background: rgb(0, 0, 0);
    --background-element: #000000;
    --background-transparent: rgba(0, 0, 0, 0.8);
    --shadow: rgba(0, 0, 0, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%)
      hue-rotate(357deg) brightness(94%) contrast(84%);
  }
  